cluster:
  provider: microk8s
  codename: k8s-dev
  domain: dev.{{ requiredEnv "ALICLOUD_MANAGED_DOMAIN" }}
  environment: dev
  location: cn-shanghai
  ingress_class: public
  cluster_issuer: letsencrypt-prod
  master_ip: 192.168.8.22

ingress:
  enabled: true

cert_manager:
  enabled: true

alidns_webhook:
  enabled: true
  # access/secret key from alicloud to control the DNS services https://dns.console.aliyun.com
  alicloud_access_key: {{ requiredEnv "ALICLOUD_ACCESS_KEY" }}
  alicloud_secret_key: {{ requiredEnv "ALICLOUD_SECRET_KEY" }}
  domain: {{ requiredEnv "ALICLOUD_MANAGED_DOMAIN" }}
  email: {{ requiredEnv "ALICLOUD_ACCOUNT_EMAIL" }}

vault:
  enabled: true

argocd:
  # Reset admin password: https://github.com/argoproj/argo-cd/issues/998#issuecomment-452908058
  enabled: true
  git_url: {{ requiredEnv "ARGO_GITHUB_URL" }}
  git_user: {{ requiredEnv "ARGO_GITHUB_USER" }}
  git_token: {{ requiredEnv "ARGO_GITHUB_TOKEN" }}
  # example value argocd apps: https://github.com/argoproj/argocd-example-apps/tree/master/apps
  value_file_path: {{ requiredEnv "ARGO_VALUE_FILE_PATH" }}
  value_file_name: {{ requiredEnv "ARGO_VALUE_FILE_NAME" }}

prometheus_bundles:
  enabled: true
  hostPath: /tmp/k8s-prometheus-operator-pv
  storage: 2Gi
  default_slack_api_url: {{ requiredEnv "DEFAULT_SLACK_API_URL" }}
  default_slack_channel: "#general"

elk:
  enabled: true
