cluster:
  provider: docker-for-mac
  name: k8s-mirana
  codename: k8s-mirana
  domain: mirana.cndriver.tech
  environment: dev
  location: cn-shanghai
  vault: vault.mirana.cndriver.tech

ingress:
  enabled: true
